
.social {
	position: fixed;
	right: 0;
	top: 220px;
	z-index: 4000;	
	display: inline-block;
	color: #fff;
	background: #0c8843;

}	

.social ul {
	list-style: none; 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}	

.social ul li  a { 
	display: inline-block;
	color: #fff;	
    padding: 10px 10px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li  a:hover {
	padding: 20px 20px;
	background: #05682d;
	
}    
    